/* MEETUPS*/
.chooseDate{
    grid-column: 1;
    grid-row: 2;
} 

.chooseMap {
    grid-column: 2;
    grid-row: 2;
}

#chooseProject{
    grid-column-start: 1;
    grid-column-end:3;
    grid-row:1;
    align-self: center;
}

.widgetBoard h2{
    text-align: center;
    color: white;
    text-shadow: 1px 1px #3E9C9C;
    font-family: 'lucida Grande';
}

/*WIDGETS*/
.widgetForm {
    color: #3E9C9C;
    text-shadow: 1px 1px white;
    font-family: 'Lucida Grande';
    padding-right: 5px;
    align-self:flex-end;
}

.widgetForm input {
    border-color: 1px solid #3E9C9C;
    color: #3E9C9C;
    background-color: #84E0E0;
    width:max-content;
    height:max-content;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    border-radius:5px;
    font-size: 10pt;
    padding: 2px;
}

.widgetForm button{
 border-color: #3E9C9C;
    color: #84E0E0;
    background-color: #3E9C9C;
    border-radius:5px;
    width:70px;
    align-self:center;
    height: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-align:center;
    font-size:12pt;
}

.widget{
    background-image: url("images/widgetTexture.jpg");
    background-size: cover;
    /*background: #3e429c;
    background: -moz-linear-gradient(top, #3e429c 0%, #698fdb 100%);
    background: -webkit-linear-gradient(top, #3e429c 0%,#698fdb 100%); 
    background: linear-gradient(to bottom, #3e429c 0%,#698fdb 100%); */
    background-size: 100% 100%;
    color: white;
    text-shadow: 1px 1px #3E9C9C;
    font-family: 'lucida Grande';
    border-color:#3E9C9C;
    border: double;
}


.widgetForm input::placholder{
    font-style: italic;
    opacity:.85;
}

#createProjectForm {
    display: none;
}

#joinProjectForm {
    display: none;
}

#createTaskForm {
    display: none;
}

.dropdown button{
    align-self: flex-end;
    float:right;
}

.dropdown {
    margin:5px;
    width: auto;
    display: flex;
    background: #3e429c;
    background: -webkit-gradient(linear, left top, left bottom, from(#3E9C9C), to(#3e429c));
    background: -webkit-linear-gradient(top, #84e0e0, #3e429c);
    background: -moz-linear-gradient(top, #84e0e0, #3e429c);
    background: -ms-linear-gradient(top, #84e0e0, #3e429c);
    background: -o-linear-gradient(top, #84e0e0, #3e429c);
    padding: 6px 12px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 12px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.widgetBoard {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    border-style: double;
    margin-left: 150px;
}

#allProjectsWidget {
    grid-column: 1;
    grid-row:1;
}

#currentProjectWidget{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: fit-content;
}

#allTasksWidget {
    grid-column: 1;
    grid-row: 2;
} 

#cpTasks{
    order:1;
}

#contacts{
    order:2;
}

.widgetHeader {
    border-style: double;
    color:transparent;
}

.widget{
    margin:10px;
    border-style: double;
}

.dropdown{
    border-style: double;

}

/*NAVIGATION*/
#homeNav {
    background-image: url("images/logo.sc");
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: 100% 100%;
    height: 100px;
}

.navButton {
    display: block;
    /*border-style: double;*/
    padding:10px;
    border-top: 1px solid #000000;
    background: #698fdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e439c), to(#698fdb));
    background: -webkit-linear-gradient(top, #3e439c, #698fdb);
    background: -moz-linear-gradient(top, #3e439c, #698fdb);
    background: -ms-linear-gradient(top, #3e439c, #698fdb);
    background: -o-linear-gradient(top, #3e439c, #698fdb);
    padding: 11px 22px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 16px;
    font-family: Georgia, serif;
    text-decoration: none;
}

.navButton:hover {
   border-top-color: #1f275e;
   background: #1f275e;
   color: #ccc;
}

.navButton:active {
   border-top-color: #000000;
   background: #000000;
}

.navigationContainer {
    list-style-type: none;
    margin:0;
    width: 150px;
    padding:0;
    border-style: double;
    position: fixed;
    overflow: auto;
    height: 100%;
}

/*GENERAL*/
#title {
    margin-left: 150px;
    /*border-style: double;*/
    padding:0;
}

#subtitle {
    /*border-style: double;*/
    justify-content: space-around;
    display:flex;
    margin-left: 150px;
}

body {
    background: linear-gradient(to bottom, #ffffff 0%, #3E9C9C 75%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*LOGIN HEADER*/
#homeLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left:150px;
    background-color:red;
}

.logInOutContainer{
    display: flex;
    flex-direction: row;
    background-color: #698fdb;
    justify-content: space-around;
    border-top: 5px #3e439c inset;
}

#signupBut{
   border-color: #3E9C9C;
    color: #84E0E0;
    background-color: #3E9C9C;
    border-radius:5px;
    width:70px;
    align-self:center;
    height: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-align:center;
    font-size:12pt;
}

.login-form button {
    font-size:12pt;
    border-color: #84E0E0;
    color: #84E0E0;
    background-color: #3E9C9C;
    border-radius:5px;
    width:70px;
    align-self:center;
    height: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-align:center;
}

.login-form input {
    border-color: 1px solid #3E9C9C;
    color: #3E9C9C;
    background-color: #84E0E0;
    width:100px;
    height: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    border-radius:5px;
    font-size: 12pt;
    margin-top:5pt;
    margin-bottom:5pt;
}

#signupBut button:active {
    border-color:  1px solid #3E9C9C;
    color: #3E9C9C;
    background-color: #84E0E0;
}

#logoutContainer{
    margin-left:150px;
}

#logoutContainer button {
    align-self: center;
    margin-top: 5px;
}

.login-form input::placeholder {
    font-style: italic;
    opacity:.85;
}

.login-form button:active {
    border-color: #3E9C9C;
    color: #3E9C9C;
    background-color: #84E0E0;
}




/*SIGN IN PAGE*/
.main-wrapper {
    background-image: url("images/homeFists.jpeg");
    margin: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-top:25px #3e439c inset;
    border-bottom:25px #3e439c inset;
    margin-right: 5px;
}

.main-wrapper h2{
    text-align: center;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 2px #84E0E0;
    color: #3e439c;
    font-size:20pt;
    padding-top:50px;
}

.main-wrapper h1 {
    text-align: center;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-shadow: 4px 4px #3e439c;
    color: #84E0E0;
    font-size:44pt;
    padding-top:50px;
    font: bold;
}

.main-wrapper h3{
    text-align: center;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 2px #84E0E0;
    color: #3e439c;
    font-size:20pt;
    padding-top:50px;
    font-style: italic;
}



/*FORM*/
.main-wrapper form {
    display:flex;
    flex-direction: column;
    /*align-content: center;*/
}

.signup-form input{
    width:250px;
    height: 40px;;
    align-self: center;
    margin: 5px;
    border: 1px solid #3e439c;
    background-color: #698fdb;
    color: #3e439c;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    opacity: 1.0;
    border-radius:5px;
    font-size: 1.2em;
}

.signup-form input::placeholder {
  opacity: .85;
  font-style: italic;
  color:darkgrey;
}

.signup-form button {
    background-color:#3e439c;
    border: 1px solid #84E0E0;
    color: #84E0E0;
    width: 100px;
    height:30px;
    align-self: center;
    text-shadow: 1px 2px #698fdb;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    font-size:14pt;
    margin-bottom: 50px;
    border-radius:5px;
}

.signup-form button:active {
    background-color:#84E0E0;
    color: #3e439c;
}


/* below is the css for the project buttons */
/* .button {
    border-top: 1px solid #52768c;
    background: #6f72b5;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e429c), to(#6f72b5));
    background: -webkit-linear-gradient(top, #3e429c, #6f72b5);
    background: -moz-linear-gradient(top, #3e429c, #6f72b5);
    background: -ms-linear-gradient(top, #3e429c, #6f72b5);
    background: -o-linear-gradient(top, #3e429c, #6f72b5);
    padding: 17px 34px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 16px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }
 .button:hover {
    border-top-color: #3e429c;
    background: #3e429c;
    color: #ccc;
    }
 .button:active {
    border-top-color: #1e25a1;
    background: #1e25a1;
    } */

    
#projectDisplay {
    /* margin: 150px 50px;*/
    display: flex;
    flex-direction: column;
    color: blue;
    }
    
.projectButton{
    padding: 10px;
   
}

/* added css for making tasks and contacts display in a pretty table*/
#displayAllTasks , #displayContacts{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-shadow:none;
    font-size: 12px;
}

#displayAllTasks td, #displayAllTasks th ,#displayContacts td ,#displayContacts th{
    border: 1px solid #ddd;
    padding: 8px;
}

#displayAllTasks tr, #displayContacts tr{
    background-color: #a9b6cc;
}
#displayAllTasks tr:nth-child(even), #displayContacts tr:nth-child(even){background-color: #c6d6ef;}
#displayAllTasks tr:nth-child(odd), #displayContacts tr:nth-child(odd){background-color: #a9b6cc;}


#displayAllTasks th , #displayContacts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3e439c ;
    color: white;
    text-shadow: none;
}

/* end of adds for displaying table */
