.main-container {
    background-image: url("images/homeFists.jpeg");
}

/*LOGIN HEADER*/
.nav-login{
    border-style: double;  
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 150px;
}

.login-button{
    border-style: double;
    color: black;
    background-color:lightskyblue; 
    padding: 5px;
    width: 50px;
    height: 30px;
}

#title {
    margin-left: 150px;
    border-style: double;
    padding:0;
}

#subtitle {
    border-style: double;
    justify-content: space-around;
    display:flex;
    margin-left: 150px;
}

/*NAVIGATION*/

.navigationContainer {
    list-style-type: none;
    margin:0;
    width: 150px;
    padding:0;
    border-style: double;
    position: fixed;
    overflow: auto;
    height: 100%;
}

.navButton {
    display: block;
    border-style: double;
    padding:10px;
    color: black;
    background-color:lightskyblue; 
}

.navButton:hover {
    color:darkgrey
}

/*WIDGETS*/

.widgetBoard {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-style: double;
    margin-left: 150px;
    padding-top:0;
}

.widgetHeader {
    border-style: double;
}

#loginWidget {
    order:1;
    width: 300px;
    height: 300px;
    border-style: double;
    margin: 10px;
}

#projectsWidget {
    order:3;
    border-style: double;
    width: 300px;
    height: 300px;
    margin: 10px;
}

#tasksWidget {
    margin: 10px;
    order:2;
    border-style: double;
    width: 300px;
    height: 300px;
} 